/* SPI configuration */

/ {
    soc {
        pin-controller@50000000 {
            spi1_mosi_pa7: spi1_mosi_pa7 {
                slew-rate = "very-high-speed";
            };
        };
    };
};

&spi1 {
    status = "okay";

    cs-gpios = <&gpiob 6 GPIO_ACTIVE_LOW>;

    nfc0: st25r@0 {
        compatible = "st,st25r";
        reg = <0x0>;
        spi-max-frequency = <4000000>;
        irq-gpios = <&gpioa 0 GPIO_ACTIVE_HIGH>;
    };
};

/* I2C configuration */

/*
&i2c1 {
    status = "okay";
    
    nfc1: st25r@50 {
        compatible = "st,st25r";
        reg = <0x50>;
        irq-gpios = <&gpioa 0 GPIO_ACTIVE_HIGH>;
    };
};
*/
